@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-gentium-basic: "Gentium Book Basic", ui-serif, Georgia, serif;
  --font-gentium-plus: "Gentium Book Plus", ui-serif, Georgia, serif;
  --font-nexa-rust-sans: "Nexa Rust Sans", ui-sans-serif, sans-serif;
  --color-title-yellow: #e7c96b;
  --color-default: #f3e5ca;
  --color-panel-overlay: #8b272d;
  /* Translucent version for drag overlay (RGB 0.182, 0.034, 0.020 @ 85% opacity) */
  --color-panel-overlay-drag: rgba(46, 9, 5, 0.85);
  --color-button: #7e8849;
}

/* Gentium Book Basic */
@font-face {
  font-family: "Gentium Book Basic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/gentium-book-basic-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Gentium Book Basic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/gentium-book-basic-bold.woff2") format("woff2");
}

/* Gentium Book Plus */
@font-face {
  font-family: "Gentium Book Plus";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/gentium-book-plus-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Gentium Book Plus";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/gentium-book-plus-bold.woff2") format("woff2");
}

/* Nexa Rust Sans */
@font-face {
  font-family: "Nexa Rust Sans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/nexa-rust-sans-trial-black2.woff2") format("woff2");
}

.bg-woodgrain {
  background-image: url("/images/background-woodgrain.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html,
body {
  @apply bg-transparent text-default font-gentium-plus text-pretty;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
